@charset "UTF-8";

.img-area {
    height: 240px;
    width: 240px;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 8px;
}

.head {
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.article-body {
    font-size: 18px;
}

.article-images {
    margin: 50px 0;
    height: 250px;
    padding-bottom: 15px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    /* pointer-events: none; */
    user-select: none;
}

.article-image {
    height: 100%;
    object-fit: cover;
    margin-left: 30px;
}

.article-image:last-child {
    margin-right: 30px;
}



